<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PPT ONLINE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>PPT ONLINE</h1>
        <form action="/ppt-online" method="post">
            <label for="fusername">Username</label>
            <input type="text" id="fusername" name="fusername"></input>
            <button name="submit" value="Submit">Submit</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>